* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.profile {
  width: 30%;
  height: 50%;
  display: inline-block;
} 

button{
  width: 30%;
  height: 20%;
  background-color: antiquewhite;
}